* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;`
}

.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

a {
    text-decoration: none;
    font-size: 1.3rem ;
    margin-left: 1.3rem;
    color: rgb(61, 60, 60);
}

a:hover {
    text-decoration: underline;
}

.fa-bars{

     font-size: 1.8rem;
     color: rgb(128, 127, 127);
     margin: 0 1.6rem;
     
}

.navbar__right-items{
    display: flex;
    align-items: center;
}

.user {
    margin-top: -.8rem;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
}

/* Search Container */

.search__container{
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
}

.form_btns{
    display: flex;
    justify-content: center;
}

.search-bar{
    display: block;
    border: 1px solid #d1d0d0;
    padding: 1.6rem 0rem;
    padding-left: 5rem;
    border-radius: 100px;
    width: 60rem;
    transition: all .3s;
    font-size: 1.4rem;
}

.search-bar:hover {
    box-shadow: 5px 5px 5px 0px rgba(104, 103, 103, 0.75);
}

.search-bar:focus{
    outline: none;
}

.search-btn{
    margin-right: 1.4rem;
}

.fa-search {
margin-left: -6rem;
position: relative;
font-size: 2rem;
font-weight: 600;
color: #d1d0d0;
top: 3.5rem;
left: 8rem;
z-index: 100;

}
.btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: none;
    font-size: 1.5rem;
}

.btn:hover{
     border: 1px solid #d1d0d0;
     border-radius: 10px;
}

.footer{
    margin-top: 75rem;
    background-color: #F2F2F2;
}


.country{
    height: 4rem;
    display: flex;
    align-items: center;
    
    color: rgb(128, 127, 127);
    border-top: 1px solid #d1d0d0;
}

.country p {
 font-size: 1.3rem;
 margin: 0 2.6rem;

}

.footer-links {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #d1d0d0;
    font-size: 2rem;
    font-weight: 600;

}

.side{
    margin: 0 2rem;
}